body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 3%;
}

h1 {
    text-align: center;
    font-size: 40px;
    background-color: rgb(73, 73, 73);
    width: 180px;
    border-radius: 8px;
    color: white;
    padding: 5px;
}

.link {
    font-size: 18px;
    margin-left: 100px;
}

.link:hover {
    color: orange;
}

#name {
    text-align: center;
    font-size: 22px;
    margin-top: -20px;
    text-decoration: underline orange;
    color: rgb(65, 65, 65);
}

.age {
    font-size: 18px;
    text-align: justify;
    margin-left: 20px;
}
.br {
    font-weight: bold;
}

.br:hover {
    color: rgb(214, 214, 33);
}

.p {
    font-size: 18px;
    text-align: justify;
    margin-left: 20px;
}

.skills {
    margin-top: 50px;
    font-size: 15px;
    color: rgb(182, 124, 15);
    margin-left: 40px;
}

.List {
    font-size: 19px;
    text-align: justify;
    line-height: 25px;
    font-style: normal;
}

ul.List li:nth-child(odd) {
    background-color: orange;
    width: 30%;
}

#Arthur {
    position: absolute;
    top: -10px;
    left: 1000px;
    padding: 8px;
    background-color: orange;
}